[access "refs/heads/*"]
abandon = group tesora-core
label-Code-Review = -2..+2 group tesora-core
label-Workflow = -1..+1 group tesora-core

[access "refs/heads/dev/*"]
abandon = group tesora-core
label-Code-Review = -2..+2 group tesora-core
label-Workflow = -1..+1 group tesora-core

[access "refs/heads/proposed/*"]
abandon = group tesora-core
label-Code-Review = -2..+2 group tesora-core
label-Workflow = -1..+1 group tesora-core

[access "refs/heads/stable/*"]
abandon = group tesora-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group tesora-core
label-Code-Review = -1..+1 group tesora-core
label-Workflow = -1..+1 group tesora-core

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
