[access "refs/*"]
read = group Anonymous Users

[access "refs/heads/*"]
abandon = group tesora-qa-core
label-Code-Review = -2..+2 group tesora-qa-core
label-Verified = -2..+2 group tesora-qa-supercore
label-Workflow = -1..+1 group tesora-qa-core

[access "refs/heads/dev/*"]
abandon = group tesora-qa-core
label-Code-Review = -2..+2 group tesora-qa-core
label-Workflow = -1..+1 group tesora-qa-core

[access "refs/heads/proposed/*"]
abandon = group tesora-qa-core
label-Code-Review = -2..+2 group tesora-qa-core
label-Workflow = -1..+1 group tesora-qa-core

[access "refs/heads/stable/*"]
abandon = group tesora-qa-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group tesora-qa-core
label-Code-Review = -1..+1 group tesora-qa-core
label-Workflow = -1..+1 group tesora-qa-core

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
